 /* global font  */
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,300&family=Poppins:wght@500&family=Work+Sans:ital,wght@1,100&display=swap');

 /* global font style */
 body{
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
 }
 /* container background */
 .container{
    background: #FFFFFF;
    width: 870px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 5px;
 }
 /* section title styles */
 .section-title{
    color: #562EFF;
    font-size: 24px;
    /* padding-top: 3px 0 30px 0; */
    margin-top: 3px;

 }
 hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
 }
 
 /* top player styles */
.players{
    display: grid;
    grid-row-gap:0px;
    grid-template-columns: repeat(3,1fr);
}
.player img{
    height: 56px;
    width: 56px;
    
}
.player{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
}
/* ----------------
Top Blogs Styles
------------------- */
article{
    display:grid;
    row-gap: 30px;
    column-gap: 15px;
    grid-template-columns: repeat(2,1fr);
}
.div-container img{
   height: 177px;
   width: 250px;
}
.div-container{
    display: flex;
    gap: 30px;
    border-radius: 5px;
}
h4{
    font-size: 20px;
}
/* -------------------
    Course Container 
---------------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


.course .course-banner img{
    width: 266px;
    height: 141px;
}
.course-heading{
    font-size: 20px;
    margin-top: 0px;
}
.course-paragraph{
    color: #ED6B4F;
    font-size: 14px;

}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color:#AEAEAE;
}
.course-info{
   display: flex;
   align-items: center;
   gap: 15px;
}
.time-div{
    background-color: #eacbce;
    color: #FF4A60;
    padding:5px 10px;
    border-radius: 50px;
}
.fa-clock{
    color: #FF4A60;
}
/*-------------------
 Media Queries
 -------------------- */

 /*--------------------
  Mobile Responsive
  --------------------- */
@media only screen and (max-width:688px) {
    .player{
        background-color: red;
        grid-template-columns: repeat(1,1fr);
    }
}
